@use "reset";

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  min-height: 100vh;
  @include flex(column, center, center);
  font-family: "Inter", sans-serif;

  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

main {
  position: relative;
  max-width: 23rem;
  display: grid;
  place-content: center;
  place-items: center;
}

.carousel-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-content: center;
  place-items: center;
}

.testimonial-container {
  @include flex(column, center, center);

  grid-area: 1/1/3/2;
}

//hide other testimonial class
.hidden-testimonial {
  display: none;
}

.pattern-bg {
  position: absolute;
  z-index: -1;
  top: calc(0% - 30px);
  max-width: 21rem;

  img {
    width: 100%;
  }
}

@keyframes imageSlide {
  0% {
    opacity: 0;
  }
}

.testimonial-image-wrapper {
  border-radius: 8px;
  overflow: hidden;
  max-width: 16.5rem;
  box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.15);

  //Animation frames
  animation-name: imageSlide;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;

  img {
    display: block;
    width: 100%;
  }
}

.button-controls {
  @include flex(row, center, space-between);

  grid-area: 1/1/3/2;
  z-index: 1;
  filter: drop-shadow(0px 2px 6px hsla(0, 0%, 0%, 0.2));
  border-radius: 16px;
  width: 4rem;
  overflow: hidden;
}

.slider-button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 0.5rem;
  padding-inline: 0.7rem;
  transition: background-color 200ms linear;
}

.slider-button:hover {
  background-color: #e9e9e9;
}

@keyframes quoteSlide {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.figure-wrapper {
  position: relative;
  @include flex(column, center, center);
  margin-top: 3rem;
  max-width: 21rem;

  //Animation frames
  animation-name: quoteSlide;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;

  .quotes-image {
    position: absolute;
    top: calc(0% - 5px);
    width: 3rem;
    transform: translateY(-14px);
  }

  .testimonial-quote {
    text-align: center;
    padding-inline: 1.5rem;
    margin-bottom: 1rem;
  }
}

.figcaption-wrapper {
  text-align: center;

  animation-name: quoteSlide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: normal;

  .person {
    font-weight: 700;
  }
  .person-job {
    font-size: 0.875rem;
    opacity: 0.6;
  }
}

.attribution {
  display: block;
  text-align: center;
  font-size: 0.875rem;
}

.footer-links {
  color: hsl(243, 100%, 65%);
  //transition: color 100ms ease, opacity 100ms ease;
  text-decoration: none;
}

.footer-links:hover {
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

//Tablet breakpoint - 768px
@media (min-width: 48rem) {
  .carousel-wrapper {
    grid-template-rows: repeat(
      5,
      1fr
    ); //Increasing grid rows for tablet size and positioning buttons
  }

  .testimonial-container {
    grid-area: 1/1/6/2;
  }

  .testimonial-image-wrapper {
    max-width: 24rem;
  }

  .button-controls {
    grid-area: 3/1/5/2;
    margin-bottom: 0.5rem;
  }

  .pattern-bg {
    max-width: 30rem;
    top: calc(0% - 45px);
  }
}

// Desktop breakpoint - 1280px
@media (min-width: 80rem) {
  main {
    max-width: none;
  }

  .carousel-wrapper {
    grid-template-rows: repeat(7, 1fr);
  }

  .testimonial-container {
    @include flex(row-reverse, center, center);
    grid-area: 1/1/7/2;
  }

  .testimonial-image-wrapper {
    max-width: none;
  }

  .pattern-bg {
    max-width: none;
    top: calc(-10% - 10px);
    right: calc(-10% - 10px);
  }

  .button-controls {
    grid-area: 6/1/8/2;
    margin-bottom: 0;
    transform: translateX(40px);
  }

  .figure-wrapper {
    margin: 0;
    padding: 0;
    max-width: 30rem;
    transform: translateX(40px);
    text-align: left;
    font-size: 1.5rem;

    .quotes-image {
      left: calc(0% + 50px);
    }

    .testimonial-quote {
      text-align: start;
      padding: 0;
      margin-bottom: 0.6rem;
    }

    .figcaption-wrapper {
      @include flex(row, center, start);
      gap: 0.5em;
      width: 100%;
      font-size: 1rem;
    }
  }
}
