@use "reset";

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  min-height: 100vh;
  @include flex(column, center, center);
  font-family: "Inter", sans-serif;

  background-image: url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}

main {
  position: relative;
  max-width: 23rem;
}

.carousel-wrapper {
  @include flex(column, center, center); //Aligning controls in the center
}

.testimonial-container {
  @include flex(column, center, center);
}

//hide other testimonial class
.hidden-testimonial {
  display: none;
}

.pattern-bg {
  position: absolute;
  z-index: -1;
  top: calc(0% - 30px);

  img {
    width: 100%;
  }
}

@keyframes imageSlide {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.testimonial-image-wrapper {
  border-radius: 8px;
  overflow: hidden;
  max-width: 16.5rem;
  box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.15);

  //Animation frames
  animation-name: imageSlide;
  animation-duration: 0.6s;
  animation-timing-function: ease-in;
  animation-direction: normal;

  img {
    display: block;
    width: 100%;
  }
}

.button-controls {
  @include flex(row, center, space-between);

  position: absolute;
  top: calc(50% - 10px);
  z-index: 1;
  box-shadow: 0px 2px 6px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  border-radius: 16px;
  width: 4rem;
  overflow: hidden;

  .slider-button {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 0.5rem;
    padding-inline: 0.7rem;
    transition: background-color 200ms linear;
  }

  .slider-button:hover {
    background-color: #e9e9e9;
  }

  .slider-button:focus {
    outline-color: hsl(221, 100%, 79%);
  }
}

@keyframes quoteSlide {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.figure-wrapper {
  position: relative;
  @include flex(column, center, center);
  margin-top: 3rem;
  max-width: 21rem;

  //Animation frames
  animation-name: quoteSlide;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;

  .quotes-image {
    position: absolute;
    top: calc(0% - 5px);
    width: 3rem;
    transform: translateY(-14px);
  }

  .testimonial-quote {
    text-align: center;
    padding-inline: 1.5rem;
    margin-bottom: 1rem;
  }
}

.figcaption-wrapper {
  text-align: center;

  animation-name: quoteSlide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: normal;

  .person {
    font-weight: 700;
  }
  .person-job {
    font-size: 0.875rem;
    opacity: 0.6;
  }
}

//Tablet breakpoint - 768px
@media (min-width: 48rem) {
  .testimonial-image-wrapper {
    max-width: 24rem;
  }

  .button-controls {
    top: calc(50% + 40px);
  }

  .pattern-bg {
    max-width: 30rem;
    top: calc(0% - 40px);
  }
}

// Desktop breakpoint - 1280px
@media (min-width: 80rem) {
  main {
    max-width: none;
  }

  .testimonial-image-wrapper {
    max-width: none;
  }

  .testimonial-container {
    @include flex(row-reverse, center, center);
  }

  .pattern-bg {
    max-width: none;
    top: calc(-10% - 10px);
    right: calc(-10% - 10px);
  }

  .button-controls {
    top: calc(100% - 15px);
    left: calc(50% - 50px);
  }

  .figure-wrapper {
    margin: 0;
    padding: 0;
    max-width: 24rem;
    transform: translateX(40px);

    .quotes-image {
      left: calc(0% + 50px);
    }

    .testimonial-quote {
      text-align: start;
      padding: 0;
      margin-bottom: 0.6rem;
    }

    .figcaption-wrapper {
      @include flex(row, center, start);
      gap: 0.5em;
      width: 100%;
    }
  }
}
